@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
--brightorange: hsl(31, 77%, 52%);
--dark: hsl(184, 100%, 22%);
--very-dark: hsl(179, 100%, 13%);


--transparent: hsla(0, 0%, 100%, 0.75);
--very-light: hsl(0, 0%, 95%);

--font-size: 15px;
--font-family1: 'Big Shoulders Display', cursiva; 
--font-family2: 'Lexend Deca', sans-serif;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--font-family2);
    font-size: var(--font-size);
    background: var(--very-light);
}
